.about {
  animation: pageLoad 1s;

  .textArea {
    position: relative;
    z-index: 2;

    .summary {
      font-size: 25px;
      font-weight: 500;

      h2 {
        margin: 60px;
      }

      .text {
        margin: 30px 60px;
        font-size: 20px;
        letter-spacing: 1.5px;
      }
    }
  }
}

@keyframes pageLoad {
  from {
      opacity: 0.5;
      transform: scale3d(0.5, 0.5, 0.5);
  }
  to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
  }
}