.about {
  animation: fade 1.5s ease forwards;

  .textArea {
    position: relative;
    z-index: 2;

    .summary {
      font-size: 25px;
      font-weight: 500;

      h2 {
        margin: 60px;
      }

      .text {
        margin: 30px 60px;
        font-size: 20px;
        letter-spacing: 1.5px;
      }
    }
  }
}

@keyframes fade {
  from {
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
  }
  to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
  }
}

@media only screen and (max-width: 1024px) {
  .about {
    display: flex;
    flex-direction: row;
    padding: 10% 5%;
    flex-wrap: wrap;

    .textArea {
      .summary{
        font-size: 40px;
      }

      .text{
        font-size: 30px !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    .textArea{
      .text {
        font-size: 20px !important;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .about {
    padding: 3%;
    .textArea{
      .summary {
        font-size: 30px;
      }

      .text {
        font-size: 15px !important;
      }
    }
  }
}