.home {

  .textArea {
    position: relative;
    z-index: 2;

    // Animation for text
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(65, end),
    //  blink-caret 1s step-end infinite
     ;

    .summary {
      font-size: 25px;
      font-weight: 700;
    }

    .title {
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
  }
}

@keyframes pageLoad {
  from {
      opacity: .5;
      transform: scale3d(0.9, 0.9, 0.9);
  }
  to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: transparent; }
}