.contact {
    animation: pageLoad 1s;

  .textArea {
    position: relative;
    z-index: 2;

    h2, p {
      font-size: 30px;
      margin: 30px;
      letter-spacing: 1.5px;
    }

    p {
      font-size: 20px;
    }
  }

  form {
    margin: 30px;

    div {
        display: flex;

        .input {
            flex: 1;
            position: relative;
            box-sizing: border-box;
            margin: 5px 5px;

            span {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: rgba(255, 255, 255, 0.8);
                transition: .5s;
            }

            input,
            textarea {
                width: 100%;
                color: rgba(255, 255, 255, 0.8);
                background: rgba(0, 0, 0, 0.6);
                box-sizing: border-box;
                border: 0;
                height: 50px;
                font-size: 16px;
                font-weight: 300;
                outline-width: 0;
            }

            input:focus ~ span,
            textarea:focus ~ span {
                width: 100%;
                transition: .5s;
            }

            input {
                padding: 0 20px;
            }

            textarea {
                padding: 20px;
                min-height: 150px;
            }
        }
    }

    .submit {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        background: transparent;
        padding: 10px 20px;
        margin: 10px 5px;
        letter-spacing: 3px;
        font-size: 11px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            // background: rgba(255, 255, 255, 0.8);
            color: rgba(0, 0, 0, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
    }
}
}

@keyframes pageLoad {
    from {
        opacity: 0.5;
        transform: scale3d(0.5, 0.5, 0.5);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
  }